<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>399883400954-01gvfacjaedv614p79umvpc1h4gc63hs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.399883400954-01gvfacjaedv614p79umvpc1h4gc63hs</string>
	<key>API_KEY</key>
	<string>AIzaSyCznKb_cuslaeWhK3iRLBkAtRb35fzVGyc</string>
	<key>GCM_SENDER_ID</key>
	<string>399883400954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>www.realizertech.com.SchoolGenie</string>
	<key>PROJECT_ID</key>
	<string>schoolgenie-e51f9</string>
	<key>STORAGE_BUCKET</key>
	<string>schoolgenie-e51f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:399883400954:ios:3ebac967f2785b36</string>
	<key>DATABASE_URL</key>
	<string>https://schoolgenie-e51f9.firebaseio.com</string>
</dict>
</plist>